
@{
    ViewBag.Title = "CreateReqFileView";
}

<h2>CreateReqFileView</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ReqFile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("FileName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("FileName", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("FileName", "", new { @class = "text-danger" })
            </div>
            @Html.Label("Rules", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Rules", 
                Infrastructure.GetRuleTypes().Select(t => new SelectListItem() { Text = t, Value = t }),
                htmlAttributes: new { @id = "ruleList", @onchange = "selectRule()" }
               )
            </div>

            <div id="ruleFields">
                <!-- List of fields according to selected type of rule -->                
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @section scripts {
            <script>
                function selectRule() {
                    var selOpt = $('#ruleList').find(":selected").text();
                    var url = "rule/" + selOpt;
                    $.ajax(url)
                        .done(function (data) {
                            $("#ruleFields").html(data);
                        }).fail(function () {
                            alert("Failed with selected=" + selOpt);
                        });
                }

                //fire on start
                selectRule();
               
            </script>
        }

        @section styles {
            <link rel="stylesheet" href="~/Content/Mine/CreateReqFile.css" />    
        }
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
